@using CarWash.WebApp.MVC.ViewModels
@model RelatorioViewModel

@{
}

<form id="formReport" submit="">
    <div class="form-group">
        <label for="dataLavagem"><b>Data Lavagem</b></label>
        <input name="dataLavagem" type="datetime-local" class="form-control" id="dataLavagem" placeholder="Data Lavagem">
    </div>

    <div class="form-group">
        <label for="cpfFuncionario" class="control-label"><b>CPF Funcionário</b></label>
        <select name="cpfFuncionario" id="cpfFuncionario" class="form-control" asp-items="ViewBag.Cpf">
            <option selected value="">--- SELECIONE ---</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<div id="divReport" class="mt-3">
    @Html.Partial("ObterRelatorio", Model)
</div>

@section Scripts{
<script>
        $("#formReport").submit((e) => {
        e.preventDefault();

        const dataLavagem = $("#dataLavagem").val();
        const cpfFuncionario = $("#cpfFuncionario").val();

        console.log($("#cpfFuncionario"));

        const data = {
            dataLavagem: dataLavagem,
            cpfFuncionario: cpfFuncionario
        };

        $.post("@Url.Action("ObterRelatorio", "Lavagens")", data, (response) => {
            console.log(response);
            $("#divReport").html(response);
        });
    });
</script>
}